<% unless comment.archived? %>
  <div class="comment-card">
    <p class="commenter-name">
      <strong>Commenter:</strong> <%= comment.commenter %>
    </p>
    <p class="comment-body">
      <strong>Comment:</strong> <%= comment.body %>
    </p>
  </div>
<% end %>
