<h1 class="heading-primary">Articles</h1>

<p class="blog-stats">
  Our blog has <span class="article-count"><%= Article.public_count %></span> articles and counting!
</p>


<ul class="article-list">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
        <li class="article-item">
            <%= link_to article.title, article, class: "article-link" %>
        </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path(), class: "btn btn-primary" %>
